body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  background-color: #182045;
  width: 40%;
  margin: 100px 400px 0px 400px;
  padding: 10px 0px 30px 0px;
  border: 1px solid rgb(196, 17, 17);
}
.container {
  display: flex;
  justify-content: space-around;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 0px;
  letter-spacing: 2px;
  font-size: 40px;
}

.score {
  width: 150px;
  height: 100px;
  background-color: #000;
  color: #f74760;
  text-align: center;
  margin: 10px 0px 10px 0px;
  border: 1px solid wheat;
}

h2 {
  padding-bottom: 50px;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.btn {
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.756);
  color: rgba(255, 255, 255, 0.756);
  border-radius: 5px;
}

#reset {
  margin: 20px 0px 0px 40%;
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
  background-color: #f74760;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

#reset:hover {
  background-color: #f74760;
  color: #000;
  transform: scale(1.1);
}
